*{
    margin:0px;
    padding:0px;
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important; /* End https://www.cursors-4u.com */ 
}
body{
    text-align: center;
    background-color: #444C55;
    box-sizing: border-box;
}

input {
    cursor: pointer;
    text-transform: capitalize;
}
main {
    font-size: 20px;
    text-transform: capitalize;
    color: yellow;
    font-family: 'Gluten';
}
#pokeimage {
    height: 170px;
    width: 170px;
}